* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    font-family: 'Aileron';
}

header {
    position: sticky;
    top: 0;
}

@media screen and (min-width: 1024px){

    header {
        height: 4.5rem;
        background-color: hsl(0deg, 0%, 18%);
    }
    
    .header-content {
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;
    }

    header a {
        color: white;
        text-decoration: none;
        height: 2rem;
    }

    .logo {
        height: 100%;
    }

    .logo img {
        height: 100%;
    }

    .menu-button {
        display: none;
    }

    nav ul {
        list-style-type: none;
    }

    nav ul li {
        padding: 0.7rem;
        display: inline-block;
    }

    .show {
        display: block;
        right: 0;
        transform: translateX(0);
    }


}

@media screen and (min-width: 300px) and (max-width: 1023px){
    
    body {
        background-image: url('../source/bac.png');
        background-position: center;
        background-size: cover;
    }
    
    header { 
        height: 14vw;
    }
    .header-content {
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 100%;
    }

    header a {
        color: white;
        text-decoration: none;
        height: 1.5rem;
        margin-left: 5vw;
    }

    .logo {
        height: 100%;
    }

    .logo img {
        height: 100%;
    }

    .menu-button {
        position: absolute;
        right: 10px;
        width: 30px;
        height: 18px;
    }

    .bar {
        width: 30px;
        height: 2px;
        background-color: #00aad4;
        margin: 4px 0;
        transition: all 0.2s;
    }

    .menu-closed .bar1 {
        transform: translate(0, 6px) rotate(45deg);
    }

    .menu-closed .bar2 {
        opacity: 0;
    }

    .menu-closed .bar3 {
        transform: translate(0, -6px) rotate(-45deg);
    }

    header nav {
        position: fixed;
        transform: translateX(100vw);
        height: calc(100vh - 14vw);
        top: 14vw;
        background-color: #0088aa;
        width: 100%;
        transition: all 0.2s;
        z-index: 99;
    }

    nav ul {
        list-style-type: none;
        margin: 2rem 0 0 0;
        padding: 0;
    }

    nav ul li {
        padding: 0.7rem;
    }

    .show {
        display: block;
        right: 0;
        transform: translateX(0);
    }

    section {
        color: black;
    }

    .sign-up {
        text-align: center;
    }

    .sign-up h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .form {
        width: 75vw;
        margin: 0 auto;
    }

    form {
        width: 100%
    }

    form input {
        height: 2.5rem;
        display: block;
        background-color: rgb(133, 133, 133);
        width: 100%;
        margin: 1rem auto;
        border: none;
        border-radius: 1.25rem;
        background-color: #e8e8e8;
        padding-left: 2rem;
    }

    .terms {
        font-size: 0.7rem;
        width: 55vw;
        margin: 0 auto;
    }

    .button-container {
        margin-top: 2rem;
    }

    #button {
        background-color: #0088aa;
        width: 35vw;
        height: 2.5rem;
        border: none;
        border-radius: 1.25rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }

    .member-q {
        margin-top: 01.5rem;
        font-size: 0.8rem;
    }

    em {
        font-style: normal;
        color: #0088aa;
    }

    hr {
        display: inline-block;
        width: 100%;
        height: 3px;
        
        margin-block-end: 0.2rem;
    }

    span {
        display: inline-block;
    }

    .or span {
        width: 30vw;
    }

    .or {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2rem;
    }

    .sign-up-options {
        margin-top: 2rem;
        width: 90vw;
        margin: 1rem auto;
    }

    .option {
        height: 4rem;
        width: 100%;
        background-color: white;
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 4rem;
        z-index: -1;
    }

    .option img {
        height: 2rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 0;
    }
}